<!-- <button (click)="clearSelection()">Clear Selection</button> -->
<a routerLink="/trade"> Trade </a>
<ag-grid-angular
  style="width: 100%; height: 100%"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (rowClicked)="onRowClicked($event)"
  [rowMultiSelectWithClick]="true"
></ag-grid-angular>
<!--
  [getRowId]="getRowId"
  [isRowSelectable]="isRowSelectable"
  (IsColumnsToFit)="true"
  (checkboxSelection)="true"
  (cellContextMenu)="onCellContextMenu($event)"
  [context]="gridContext"
  [enableRangeSelection]="true"
  [allowContextMenuWithControlKey]="true"
  [getContextMenuItems]="getContextMenuItems"
  (cellClicked)="onCellClicked($event)"
 -->
