<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Farmer App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
  </div>
</nav>
<div><form>
  <div class="position-relative">
    <div class="position-absolute top-0 start-0 w-25 p-3 mb-3">
      <label for="action">Action</label>
      <select class="form-select" name="action">
        <option disabled value="null">Select trade</option>
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select>
      <label for="action">Action</label>
      <select class="form-select" name="action" >
        <option disabled value="null">Select trade</option>
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select>
    </div>
    <div class="position-absolute top-0 start-50 translate-middle-x w-25 p-3 mb-3">
      <label for="action">Action</label>
      <select class="form-select" name="action">
        <option disabled value="null">Select trade</option>
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select>
      <label for="action">Action</label>
      <select class="form-select" name="action" >
        <option disabled value="null">Select trade</option>
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select>
    </div>
    <div class="position-absolute top-0 end-0 w-25 p-3 mb-3">
      <label for="action">Action</label>
      <select class="form-select" name="action" >
        <option disabled value="null">Select trade</option>
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select>
      <label for="action">Action</label>
      <select class="form-select" name="action">
        <option disabled value="null">Select trade</option>
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary align-items-center mt-3">
      Go
    </button>
  </div>
</form></div>


 -->

 <nav class="navbar navbar-expand-lg navbar-light bg-success mt-0" >
  <a class="navbar-brand p-4" href="#" style="color: white;">Farmer App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  </div>
</nav>
<p class="text-center fs-1">RECOMMENDATION OPTIONS</p>
<div class="container mt-3">
  <form>
    <div class="row">
      <div class="col">
        <label for="trade1">STATE</label>
        <select class="form-select" id="trade1" name="trade1">
          <option disabled selected>Select state</option>
          <option value="buy">Buy</option>
          <option value="sell">Sell</option>
        </select>
      </div>
      <div class="col">
        <label for="trade2">CITY</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="city" aria-label="city" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="trade3">SOIL</label>
        <select class="form-select" id="trade3" name="trade3">
          <option disabled selected>Select soil type</option>
          <option value="buy">Buy</option>
          <option value="sell">Sell</option>
        </select>
      </div>
      <div class="col">
        <label for="trade4">TEMPERATURE</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="temperature" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="trade3">CLIMATE</label>
        <select class="form-select" id="trade3" name="trade3">
          <option disabled selected>Select</option>
          <option value="buy">Buy</option>
          <option value="sell">Sell</option>
        </select>
      </div>
      <div class="col">
        <label for="trade4">RAINFALL</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="rainfall" aria-label="rainfall" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-success mt-3 w-25 p-2">
        Go
      </button>
    </div>
  </form>
</div>
